# Immich config
UPLOAD_LOCATION=/mnt/askeynet-shared/pictures
DB_DATA_LOCATION=./config/postgres

IMMICH_VERSION=release

DB_PASSWORD='<PASSWORD>'
DB_UERNAME=postgres
DB_DATABASE_NAME=immich

# Generic Config
PUID=
PGID=
TZ=Europe/Amsterdam

HOST=
EMAIL=

#Traefik config
TRAEFIK_USER=
TRAEFIK_PASSWORD='<PASSWORD>'
